<%- layout('/layouts/boilerplate.ejs') %>

<div class="row">
    <div class="alert alert-warning col-7 offset-2 mt-3 ml-3" role="alert">
        <h5 class="alert-heading "> <%= message %> </h5>
    </div>
</div>